<footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <h3>NAVEGACIÓN</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Mantequillas</a></li>
          <li><a href="#">Frutos secos</a></li>
          <li><a href="#">Otros</a></li>
          <li><a href="#">Cómo Comprar o Devolver</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>CONTÁCTANOS</h3>
        <ul>
          <li><ion-icon name="call-outline"></ion-icon> 1164322342</li>
          <li><ion-icon name="mail-outline"></ion-icon> pedidos.pehuajofood.com</li>
          <li><ion-icon name="location-outline"></ion-icon> Díaz Vélez 3763</li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>REDES SOCIALES</h3>
        <div class="social-icons">
          <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
          <a href="#"><ion-icon name="logo-tiktok"></ion-icon></a>
          <a href="#"><ion-icon name="logo-pinterest"></ion-icon></a>
        </div>
        <h3>NEWSLETTER</h3>
        <form class="newsletter">
          <input type="email" placeholder="Email" />
          <button type="submit"><ion-icon name="paper-plane-outline"></ion-icon></button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <p>
        COPYRIGHT La Pehuajo - MANTEQUILLAS DE MANÍ - FRUTOS SECOS - 2024. TODOS LOS DERECHOS RESERVADOS.
        DEFENSA DE LAS Y LOS CONSUMIDORES. PARA RECLAMOS <a href="#">INGRESÁ ACÁ</a>. / <a href="#">BOTÓN DE ARREPENTIMIENTO</a>
      </p>
    </div>
  </footer>