* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .navbar {
    background-color: #dcbb7e;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    width: 100%;
    overflow: hidden;
    
  }
  
  .top-bar {
    background-color: #73302e;
  text-align: center;
  font-size: 12px;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.5s, transform 0.5s;
  }

  .top-bar.hidden {
    opacity: 0;
    transform: translateY(-100%); 
  }
  
  
  .main-bar {
  position: fixed; 
  top: 30px; 
  left: 0;
  width: 100%;
  z-index: 999; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 10px 20px 10px -2px;
  overflow: hidden;
  flex-wrap: nowrap;
  background-color: #dcbb7e;
  transition: top 0.3s, height 0.3s;
  }

  .main-bar.small {
    top: 0; 
    height: 60px;
  }

  .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    color: white;
    padding: 5px 0;
    position: fixed;
    top: 120px;
    left: 0;
    width: 100%;
    z-index: 998;
    background-color: #dcbb7ee3;
    transition: top 0.2s, height 0.3s; 
  }
  
  .menu-items.small {
    top: 60px; 
    height: 35px;
  }
  
  .brand {
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    color: #73302e; 
  }
  
  .search-field {
    flex: 1; 
    flex-grow: 1;
    max-width: 960px; 
    margin: -5px 200 0px 200px;
    border-radius: 25px; 
    font-family: 'Playfair Display', serif;
  }
  
  
  input[matInput] {
    font-size: 16px;
    padding: 12px 15px ;
    border-radius: 16px;
    border: 0;
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: 120%;
    max-width: 2000px;
    color: #73302e;
  }
  
  .icons {
    display: flex;
    align-items: flex-start; 
    justify-content: space-around; 
    padding-bottom: 28px;
    padding-right: 10px;
    flex-wrap: nowrap;
    gap: 20px; /* Aumenta el espacio entre los íconos */
  }

  .icons button {
    display: flex;
  flex-direction: column; 
  align-items: center; 
  color: white; 
  text-decoration: none; 
  }

  .icons button.small-button {
  transform: scale(0.9); /* Achica el botón de ícono */
  transition: transform 0.4s;
}

/* Íconos más pequeños */
.icons ion-icon.small-icon {
  font-size: 26px; /* Reduce el tamaño del ícono */
  transition: font-size 0.3s;
  margin-top: 4px;
}
  
  .icon {
    font-size: 24px;
  }
  
  .icon-text {
    font-size: 14px; /* Ajusta el tamaño del texto para que se vea más elegante */
  color: white;
  font-family: 'Playfair Display', serif; /* Cambia a una fuente más elegante si lo deseas */
  font-weight: 400;
  margin-top: 5px;
  }

  .icons ion-icon {
    font-size: 42px; /* Aumenta el tamaño de los íconos */
  font-family: 'Poppins', sans-serif; /* Puedes cambiar esta fuente por una más elegante */
  color: white;
  margin-bottom: 0px;
  color: #ea6834;
  }
  
  .divider {
    border: none;
    border-top: 1px solid white;
    margin: 0;
    width: 100%;
  }
  
  

  .whatsapp-float {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: #1dad52; 
    color: white; 
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, font-size 0.3s;
  }
  
  .whatsapp-float:hover {
    transform: scale(1.1); 
  }
  
  
  .whatsapp-float.small-wsp {
    transform: scale(0.8); /* Reduce el tamaño */
  }

.mat-mdc-button:not(:disabled) {
    color: #73302e;; 
    font-family: 'Playfair Display', serif;
    font-weight: bold; 
  }
  

  .mat-mdc-button:not(:disabled):hover {
    color: #FF8C00; 
  }
  
  .i{
    margin-top: 10px;
    text-align: start;
  }

  .scrolled {
    display: none; 
  }
  
  

@media (max-width: 768px) {
  .main-bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .menu-items{
    margin-top: -2px;
  }
  .brand {
    font-size: 12px; 
  }

  .search-field {
    margin-top: -5px;
    margin-bottom: -5px;
    min-width: 160px; 
    flex-grow: 1; 
    
  }

  .icons ion-icon {
    
    font-size: 26px; 
    margin: -5px 0px -15px 0px;
  }

  .icons {
    gap: 1px;
    justify-content: space-around;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    overflow: hidden; 
  }

  .icons button {
    flex: 1 1 50px; 
    max-width: 60px; 
  }

  .icon-text {
    font-size: 12px; 
    color: white;
  }
  .mat-mdc-button:not(:disabled) {
    font-size: 10px;
  }
}

.cart-button {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff8c00; /* Color del contador */
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%; /* Este valor puede cambiar según el diseño */
  max-width: 500px;
  height: 100%;
  background-color: #fef9f6;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000; /* Prioridad sobre otros elementos */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.cart-panel.open {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #dcbb7e;
}

.cart-header h3 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  color: #73302e;
}

.cart-content {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  height: 100%;
}

.quantity-controls button {
  background-color: #dcbb7e;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem; /* Tamaño del ícono */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.quantity-controls button:hover {
  background-color: #73302e;
  transform: scale(1.1);
}

.quantity-controls span {
  font-size: 1.2rem; 
  font-weight: bold;
  color: #73302e;
  text-align: center; 
  width: 24px; 
  line-height: 36px;
}


.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
  text-align: left;
  padding: 10px;
  font-family: 'Playfair Display', serif;
}

.cart-table th {
  background-color: #dcbb7e;
  color: white;
  font-size: 1rem;
}

.product-details {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-image {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.progress-container {
  margin-top: 20px;
}

.progress-container p {
  margin: 0;
  font-size: 0.9rem;
  color: #73302e;
}

.progress-container .free-shipping {
  color: #ea6834;
  font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background-color: #dcbb7e;
  transition: width 0.3s ease;
}

.postal-code {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.postal-code mat-icon {
  color: #73302e;
}

.postal-code input {
  flex: 1;
  border: 1px solid #b6abab;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.subtotal-text {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #73302e;
}

.link-to-products {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #dcbb7e;
  font-weight: bold;
}

.cart-footer {
  padding: 20px;
  border-top: 1px solid #dcbb7e;
  text-align: center;
}

.cart-footer button {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  background-color: #dcbb7e;
  color: white !important;
  border-radius: 8px;
  text-transform: uppercase;
}

.cart-footer button:hover {
  background-color: #dcbb7e;
  color: #73302e;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


@media (max-width: 768px) {
  .cart-panel {
    width: 100%; 
    max-width: none; 
    padding: 10px; 
  }

  .cart-header h3 {
    font-size: 1.2rem; 
  }

  .cart-content {
    padding: 10px;
  }

  .product-image {
    width: 50px; 
    height: 50px;
  }

  .postal-code input {
    font-size: 0.8rem; 
    padding: 5px;
  }

  .cart-footer button {
    font-size: 0.9rem; 
  }
}

@media (max-width: 480px) {
  .cart-header h3 {
    font-size: 1rem; 
  }

  .postal-code input {
    padding: 5px;
    font-size: 0.7rem; 
  }

  .cart-footer button {
    padding: 8px 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}
