
<div class="slider">
    <img src="https://static.vecteezy.com/system/resources/previews/030/086/759/non_2x/honey-sunflower-honey-flowers-honey-hd-wallpaper-ai-generated-free-photo.jpg"/>
    <img src="https://static.vecteezy.com/system/resources/previews/030/086/759/non_2x/honey-sunflower-honey-flowers-honey-hd-wallpaper-ai-generated-free-photo.jpg"/>
    <img src="https://static.vecteezy.com/system/resources/previews/030/086/759/non_2x/honey-sunflower-honey-flowers-honey-hd-wallpaper-ai-generated-free-photo.jpg"/>
  </div>
  
  <section class="section-welcome-home" data-store="home-welcome-message">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="h1 js-welcome-message-title">Frutos secos seleccionados</h2>
          <p class="js-welcome-message-text">Las recetas de nuestras pastas son un arte bien guardado, una combinación perfecta de lo esencial y lo exquisito. 
            Aquí no agregamos nada que no sea absolutamente necesario, porque lo simple también puede ser extraordinario.</p>
        </div>
      </div>
    </div>
  </section>
  <app-carousel-products></app-carousel-products>
  <section class="informative-banner">
    <div class="service-item">
      <div class="service">
        <span class="material-icons icon">local_shipping</span>
        <div class="service-text">
          <h4>Envíos rápidos</h4>
          <p>Recibe en 48 horas.</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="service">
        <span class="material-icons icon">support_agent</span>
        <div class="service-text">
          <h4>Soporte 24/7</h4>
          <p>Siempre contigo.</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="service">
        <span class="material-icons icon">local_offer</span>
        <div class="service-text">
          <h4>Envío gratis</h4>
          <p>Desde $40.000.</p>
        </div>
      </div>
    </div>
  </section>
