<mat-toolbar color="primary" class="navbar">
  <div class="top-bar">
    <span>🚚🚚🚚 ENVIOS GRATIS A TODO EL PAIS! 🚚🚚🚚</span>
  </div>
  <div class="main-bar">
    <i>
    <span class="brand">laPehuajo</span>
    <ion-icon name="leaf-outline"></ion-icon>
  </i>
    <!-- Barra de búsqueda de Angular Material -->
    <mat-form-field class="search-field" appearance="outline">
      <input matInput placeholder="¿Qué estás buscando?" />
      <button mat-icon-button matSuffix>
        <!-- Ícono de búsqueda de Ionicons -->
        <ion-icon name="search-outline"></ion-icon>
      </button>
    </mat-form-field>
    <div class="icons">
      <button mat-icon-button>
        <i>
        <ion-icon name="help-circle-outline"></ion-icon>
        <span class="icon-text">Ayuda</span>
        </i>
      </button>
      <button mat-icon-button>
        <i>
        <ion-icon name="person-circle-outline"></ion-icon>
        <span class="icon-text">Cuenta</span>
        </i>
      </button>
      <button mat-icon-button>
        <i>
        <ion-icon name="cart-outline"></ion-icon>
        <span class="icon-text">Carrito</span>
      </i>
      </button>
    </div>
  </div>
</mat-toolbar>


<mat-toolbar color="primary" class="navbar">
  <div class="menu-items">
    <button mat-button>Pastas untables</button>
    <button mat-button>La Pehuajo</button>
    <button mat-button>Recetas</button>
    <button mat-button>Quiénes somos</button>
  </div>
</mat-toolbar>
<a href="https://wa.me/1234567890" class="whatsapp-float" target="_blank" rel="noopener noreferrer">
  <ion-icon name="logo-whatsapp"></ion-icon>
</a>
