.slider{

  width: 100vw; /* Ocupa todo el ancho de la ventana */
  height: 65vh;
    position: relative;
    display: flex;
    overflow-x: scroll; /* Solo permite el desplazamiento horizontal */
  overflow-y: hidden; 
    scroll-snap-type: x mandatory;
}

.slider img{
  min-width: 100vw; /* Asegura que cada imagen ocupe el ancho de la ventana */
  height: 100vh; /* Asegura que cada imagen ocupe el alto de la ventana */
  object-fit: cover; /* Cubre el espacio sin distorsionarse */
  scroll-snap-align: center;

}
  
  .section-welcome-home {
    font-family: 'Playfair Display', serif; /* Usa la fuente elegante que tienes */
    text-align: center; /* Centra el texto */
    margin-top: 17px; /* Añade un poco de espacio superior */
    color: #333; /* Cambia el color según lo que prefieras */
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  .section-welcome-home h2 {
    font-size: 36px; /* Ajusta el tamaño del encabezado */
    font-weight: bold;
  }
  
  .section-welcome-home p {
    font-size: 20px; /* Ajusta el tamaño del párrafo */
    margin-top: 10px;
  }
  


  .section-informative-banners .swiper-wrapper {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la línea */
    gap: 22px; /* Espacio entre los elementos */
    
  }
  
  .service-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Distribuye el espacio entre los iconos y el texto */
    padding:20px 0px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-wrap: nowrap;
  }
  
  .carousel-caption{
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 23px;
  }
  .informative-banner {
    background-color: #f1f1f1; /* Color gris claro */
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    width: 100vw;
  }
  
  .service-item {
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f1f1;
    gap: 20px;
  }
  
  .service-item div {
    max-width: 200px;
    background-color: #f1f1f1;
  }
