<router-outlet></router-outlet>

<div class="slider">
  <img src="https://static.vecteezy.com/system/resources/previews/030/086/759/non_2x/honey-sunflower-honey-flowers-honey-hd-wallpaper-ai-generated-free-photo.jpg"/>
  <img src="https://static.vecteezy.com/system/resources/previews/030/086/759/non_2x/honey-sunflower-honey-flowers-honey-hd-wallpaper-ai-generated-free-photo.jpg"/>
  <img src="https://static.vecteezy.com/system/resources/previews/030/086/759/non_2x/honey-sunflower-honey-flowers-honey-hd-wallpaper-ai-generated-free-photo.jpg"/>
</div>

<section class="section-welcome-home" data-store="home-welcome-message">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="h1 js-welcome-message-title">Frutos secos seleccionados</h2>
        <p class="js-welcome-message-text">El secreto de nuestras pastas es secreto, no te lo vamos a decir melmanito.
          No usamos ingredientes que no sean necesarios.</p>
      </div>
    </div>
  </div>
</section>
<app-carousel-products></app-carousel-products>
<section class="informative-banner">
  <div class="service-item">
    <div>
      <ion-icon name="airplane-outline"></ion-icon>
      <h4>Envíos rápidos a todo el país</h4>
      <p>Compra ahora y recibe en 48 horas.</p>
    </div>
    <div>
      <ion-icon name="alarm-outline"></ion-icon>
      <h4>Soporte 24/7</h4>
      <p>Estamos aquí para ayudarte.</p>
    </div>
    <div>
      <ion-icon name="car-sport-outline"></ion-icon>
      <h4>Desde $40.000</h4>
      <p>Envío gratis en compras superiores.</p>
    </div>
  </div>
</section>

